
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat ,'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #f4c9dd;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 700px;
    margin: 20px;
}

.container p{
    max-width: 60ch;
}

.img1{
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 20px #d15075;
}

.img2{
    border-radius: 10px;
    max-width: 400px;  
}

.btn{
    display: flex;
    gap: 25px;
}

.btn a{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: #ff007f;
    color: #000000;
    padding: 0.5em 1.5em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px rgba(225, 29, 72, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;

}
.btn a:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px rgba(225, 29, 72, 0.5) ;
}

.heart{
    text-align: start;
    height: 70px;
    width: 70px;
    position: relative;
    background: #f20044;
    transform: rotate(-45deg);
    margin-top: 30px;
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

@keyframes heart{
    0%{
        transform: scale(1.07) rotate(-45deg);
    }
    80%{
        transform: scale(1.0) rotate(-45deg);
    }
    100%{
        transform: scale(0.8) rotate(-45deg);
    }
}

.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px #f20044;
}
.heart:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}
